body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  /* background: #121212;
  color: #f2f2f2; */
}

h2 {
  font-weight: 700;
}

.img {
  height: 17rem;
  width: 100%;
  object-fit: cover;
}

.img-header {
  height: 28rem;
  width: 100%;
  object-fit: cover;
}