<div class="container pt-3">
  <div class="row">
    <div class="col">
      <div class="alert alert-success" role="alert">
        Password changed successfully
        <a href='{{frontend_url}}'>Return to the application</a>
      </div>
    </div>
  </div>
</div>